.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 10ms;
}
.fade-exit-active {
  transition: opacity 140ms;
}
